h1 {
    text-align: center;
    color: rgb(165, 123, 9);

}
h2 {
    color: white;
}
h3 {
    color: blue;
    size: 32px;
}
body {
    background-image:url(image.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
div{
 width:50%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
button {
    width: 100px;
    height: 50px;
    background-color: #8a2be2;
    color: white;
    border-radius: 15px;
    border: none;
}
button:hover {
    background-color: #2e043f}
    button:active {
        background-color: #83489e;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }